services:
  frontend:
    image: node:20-alpine
    container_name: teamtoolbox_frontend_vue
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173"
    volumes:
      - ./frontend-vue:/app
    restart: unless-stopped
