@import 'colors';

#calendar {
  //max-width: 900px;
  margin: 0 auto;
}

.loading {
  opacity: 0.3;
  background-color: #fff;
  z-index: 99;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  background-color: $main_color;
  color: $main_color_text;
}

//
// calendar widget
//
.calendar-display-none {
  display: none
}

/* Vacation colors */
.fc-h-event.state-vacation{
  background-color:$pending_color !important;
  border: 1px solid $pending_color !important;
}

.fc-h-event.state_ok{
  background-color:$lighter_success_color !important;
  border: 1px solid $lighter_success_color !important;
}


