// ################################## COLORS
$main_color: #114B5F;
$second_color: #028090;
$third_color: #D7C9AA;
$fourth_color: #E4FDE1;
$main_color_text: #ffffff;
$second_color_text: #1A2238;

$info_color: #003FC1;
$critical_color: #BC0F2E;
$success_color: #376A2F;
$warn_color: #8B5001;