// Login page
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../images/login.jpg');
  background-size: cover;
  background-position: center center;
}

.no-gutter {
  margin: auto;
}