{% extends 'basev2.html.twig' %}

{% block contentHeaderTitle %}<h1 class="m-0">Tests Suites : {{ planId }} </h1>{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('get_plans_list') }}">Plans de tests</a></li>
    <li class="breadcrumb-item active"><a href="{{ path('get_suites_tests', {planId: planId, suiteId: suiteId}) }}">Tests Suites</a></li>
    <li class="breadcrumb-item active">Tests Cases</li>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <tbody>
                            {% for testcase in testscases %}
                                <tr>
                                    <td>{{ testcase.workItem.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}