<div class="row main_text_color">
    <div class="col">
        <div id="weekDiv">
            Répartition des heures de la semaine :
            <canvas class="doughnut" id="div_chart_current_week" style="display: none"></canvas>
            <div class="loader"></div>
            <button  class="btn btn-primary" id="weekButton" style="display: none" disabled="true">Export CSV</button>
            <div class="loading"></div>
        </div>
    </div>
    <div class="col">
        <div id="monthDiv">
            Répartition des heures du mois :
            <canvas class="doughnut" id="div_chart_current_month" style="display: none"></canvas>
            <div class="loader"></div>
            <button class="btn btn-primary" id="monthButton" style="display: none" disabled="true">Export CSV</button>
            <div class="loading"></div>
        </div>
    </div>
</div>